<%= content_for :page_title, 'About Page' %>
<%= content_for :page_description, 'About Page' %>
<h1>Pages#about</h1>
<p>Find me in app/views/pages/about.html.erb</p>

<section class="py-12 px-4 text-center">
  <div class="w-full max-w-2xl mx-auto">
    <span class="text-sm font-semibold">TAGLINE</span>
    <h2 class="text-5xl mt-2 mb-6 leading-tight font-semibold font-heading">Lorem ipsum dolor sit amet</h2>
    <a class="text-indigo-600 hover:underline" href="#">Learn more &raquo;</a>
  </div>
</section>

<section class="py-8 px-4">
  <div class="flex flex-wrap -mx-2">
    <div class="lg:w-2/5 px-2 lg:pr-16 mb-6 lg:mb-0">
      <h2 class="text-3xl font-semibold">Lorem ipsum dolor sit amet</h2>
    </div>
    <div class="lg:w-3/5 px-2">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
</section>

<section class="py-12 px-4 text-center">
  <div class="w-full max-w-2xl mx-auto">
    <h2 class="text-5xl leading-tight font-semibold font-heading">Lorem ipsum dolor sit amet</h2>
    <p class="mt-6 mb-8 text-gray-400 leading-relaxed">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
    <a class="inline-block py-4 px-8 leading-none text-white bg-indigo-600 hover:bg-indigo-700 font-semibold rounded shadow" href="#">Sign up</a>
  </div>
</section>

<section class="py-8 px-4">
  <div class="flex flex-wrap -mx-4 -mb-6">
    <div class="lg:w-1/3 px-4 mb-6">
      <svg class="text-indigo-600 w-10 h-10" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z"></path>
      </svg>
      <h3 class="text-xl my-3 font-semibold font-heading">Lorem</h3>
      <p class="text-gray-400 leading-relaxed">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
    </div>
    <div class="lg:w-1/3 px-4 mb-6">
      <svg class="text-indigo-600 w-10 h-10" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 3.055A9.001 9.001 0 1020.945 13H11V3.055z"></path>
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20.488 9H15V3.512A9.025 9.025 0 0120.488 9z"></path>
      </svg>
      <h3 class="text-xl my-3 font-semibold font-heading">Ipsum</h3>
      <p class="text-gray-400 leading-relaxed">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
    </div>
    <div class="lg:w-1/3 px-4 mb-6">
      <svg class="text-indigo-600 w-10 h-10" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path>
      </svg>
      <h3 class="text-xl my-3 font-semibold font-heading">Dolor</h3>
      <p class="text-gray-400 leading-relaxed">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labor</p>
    </div>
  </div>
</section>

<section class="py-12 px-4 text-center">
  <h2 class="text-4xl mb-8 font-semibold font-heading">Consectetur</h2>
  <div class="max-w-2xl mx-auto">
    <img class="rounded shadow" src="pictures/office.jpg" alt="">
    <div class="text-center mt-8 mb-6">
      <button class="inline-flex items-center justify-center h-3 w-3 mr-2 bg-gray-400 rounded-full"></button>
      <button class="inline-flex items-center justify-center h-3 w-3 mr-2 bg-gray-200 rounded-full"></button>
      <button class="inline-flex items-center justify-center h-3 w-3 mr-2 bg-gray-200 rounded-full"></button>
    </div>
    <div>
      <h3 class="text-2xl mb-4 font-semibold font-heading">Lorem ipsum</h3>
      <p class="text-gray-400 leading-relaxed">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
</section>

<section class="py-8 px-4">
  <div class="flex flex-wrap -mx-8 text-center">
    <div class="w-full md:w-1/2 p-8 mb-4 md:mb-0">
      <h3 class="text-5xl font-semibold font-heading">$9 / mo</h3>
      <p class="flex-grow mt-4 mb-6 text-gray-400 leading-relaxed">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
      <a class="inline-block py-4 px-8 leading-none text-white bg-indigo-600 hover:bg-indigo-700 font-semibold rounded shadow" href="#">Contact sales</a>
    </div>
    <div class="w-full md:w-1/2 p-8 mb-4 md:mb-0 md:border-l">
      <h3 class="text-5xl font-semibold font-heading">$49 / mo</h3>
      <p class="mt-4 mb-6 text-gray-400 leading-relaxed">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
      <a class="inline-block py-4 px-8 leading-none text-indigo-600 bg-indigo-50 hover:bg-indigo-100 font-semibold rounded shadow" href="#">Contact sales</a>
    </div>
  </div>
</section>

<section class="py-12 px-4">
  <div class="flex flex-wrap -mx-4">
    <div class="lg:w-1/2 px-4 mb-4 lg:mb-0"><img class="rounded shadow" src="pictures/paper.jpg" alt=""></div>
    <div class="lg:w-1/2 px-4">
      <h2 class="text-4xl mb-4 font-semibold font-heading">Lorem ipsum dolor sit amet</h2>
      <p class="mb-6 text-gray-400 leading-relaxed">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <div class="mb-6">
        <button class="inline-flex items-center justify-center h-8 w-8 mr-2 bg-gray-400 rounded-full"></button>
        <button class="inline-flex items-center justify-center h-8 w-8 mr-2 bg-gray-300 rounded-full"></button>
        <button class="inline-flex items-center justify-center h-8 w-8 mr-2 bg-gray-100 rounded-full"></button>
      </div>
      <div class="flex mb-6">
        <span class="text-2xl">$10</span>
        <div class="flex flex-wrap ml-4">
          <div class="w-1/2">
            <input class="appearance-none block w-full py-2 px-4 leading-snug text-gray-700 bg-gray-50 focus:bg-white border border-gray-200 focus:border-gray-500 rounded md:rounded-r-none focus:outline-none" type="number" value="1">
          </div>
          <div class="w-1/2">
            <button class="inline-block w-full py-3 px-4 leading-none text-white bg-indigo-600 hover:bg-indigo-700 font-semibold rounded md:rounded-l-none">Buy</button>
          </div>
        </div>
      </div>
      <div class="pt-4 border-t"><a class="text-indigo-600 hover:underline" href="#">Add to favorites</a></div>
    </div>
  </div>
</section>

<div class="flex p-4">
  <ul class="flex mx-auto list-reset border border-grey-light rounded">
    <li><a class="block px-3 py-2 text-indigo-600 hover:text-white hover:bg-indigo-700 border-r border-grey-light" href="#">Previous</a></li>
    <li><a class="block px-3 py-2 text-indigo-600 hover:text-white hover:bg-indigo-700 border-r border-grey-light" href="#">1</a></li>
    <li><a class="block px-3 py-2 text-indigo-600 hover:text-white hover:bg-indigo-700 border-r border-grey-light" href="#">2</a></li>
    <li><a class="block px-3 py-2 text-indigo-600 hover:text-white hover:bg-indigo-700 border-r border-grey-light" href="#">3</a></li>
    <li><a class="block px-3 py-2 text-indigo-600 hover:text-white hover:bg-indigo-700" href="#">Next</a></li>
  </ul>
</div>

<section class="py-12 px-4">
  <div class="flex flex-wrap -mx-4">
    <div class="w-full lg:w-1/2 px-4 mb-8 lg:mb-0">
      <div class="flex flex-col h-full p-8 bg-gray-100 rounded">
        <h2 class="text-3xl font-semibold font-heading">Lorem ipsum dolor sit amet</h2>
        <p class="max-w-sm mt-auto mb-8 text-gray-400 leading-relaxed">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
        <a class="text-right text-indigo-600 hover:underline" href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a>
      </div>
    </div>
    <div class="lg:w-1/2 px-4">
      <div class="flex flex-wrap -m-2">
        <div class="w-1/2 p-2"><img class="rounded shadow" src="pictures/office.jpg" alt=""></div>
        <div class="w-1/2 p-2"><img class="rounded shadow" src="pictures/work.jpg" alt=""></div>
        <div class="w-1/2 p-2"><img class="rounded shadow" src="pictures/work.jpg" alt=""></div>
        <div class="w-1/2 p-2"><img class="rounded shadow" src="pictures/office.jpg" alt=""></div>
      </div>
    </div>
  </div>
</section>

<section class="pt-8 px-4 text-center">
  <div class="max-w-2xl mx-auto mb-8">
    <h2 class="text-4xl leading-tight mb-6 font-semibold font-heading">Lorem ipsum dolor sit amet</h2>
    <p class="text-gray-400 leading-relaxed">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <div class="flex flex-wrap -mx-8">
    <div class="w-1/2 md:w-1/6 px-8 mb-8"><img src="logos/realweb.svg" alt=""></div>
    <div class="w-1/2 md:w-1/6 px-8 mb-8"><img src="logos/gitscape.svg" alt=""></div>
    <div class="w-1/2 md:w-1/6 px-8 mb-8"><img src="logos/k-hole.svg" alt=""></div>
    <div class="w-1/2 md:w-1/6 px-8 mb-8"><img src="logos/plucky.svg" alt=""></div>
    <div class="w-1/2 md:w-1/6 px-8 mb-8"><img src="logos/1stsight.svg" alt=""></div>
    <div class="w-1/2 md:w-1/6 px-8 mb-8"><img src="logos/tholio.svg" alt=""></div>
  </div>
</section>

<section class="py-8">
  <div class="w-full max-w-sm mx-auto">
    <form>
      <div class="mb-4">
        <input class="appearance-none block w-full py-3 px-4 leading-tight text-gray-700 bg-gray-50 focus:bg-white border border-gray-200 focus:border-gray-500 rounded focus:outline-none" type="text" placeholder="Email">
      </div>
      <div class="mb-5">
        <button class="inline-block w-full py-4 px-8 leading-none text-white bg-indigo-600 hover:bg-indigo-700 font-semibold rounded shadow">Sign up</button>
      </div>
      <p class="text-sm text-center text-gray-400">Under form copy.</p>
    </form>
  </div>
</section>
